
  <div class="navbar">
    <div class="navbar-left">
      <a href="" class="active" id="allSubmissionsLink">All Tasks</a>
      <a href="" id="favoriteSubmissionsLink">Must Do Tasks</a>
    </div>
    <div class="navbar-right">
        <form action="/" method="POST" id="myform">
            <label for="search"></label>
            <input type="text" id="search-query" name="search-query" namespace="Search">
        <div class="dropdown">
        <select id="order" name="order">
          <option value="none">Sort by</option>
          <option value="newest">Newest</option>
          <option value="oldest">Oldest</option>
        </select>
        <button type="submit" class="search-button"></button>
        </div>
    </form>
    </div>
  </div>

  
<div class="card-contain">
    
    <div *ngFor="let task of tasks">
      <a routerLink='details/{{task.id}}'>
        <div div class="card-item" >
        <div class="card-head">
            <img src="../../../assets/images/task_762686.png" class="card-icon" alt="card-logo">
            {{task.title}}
        </div>

        <div class="card-desc">
            {{task.description}}
        </div>

        <div class="card-foot">
            Priority: {{ task.priority === 1 ? 'High' : task.priority === 2 ? 'Medium' : 'Low' }}
          </div>
        <div class="card-foot">
            Status: {{ task.status === 1 ? 'To-Do' : task.status === 2 ? 'In-Progress' : 'Completed' }}
        </div>
        <br>
        <div class="card-foot" >Due till {{task.due_date}}
        </div>
      </div>
      </a>
    </div>
    
   
    <!-- <div class="card-item">
        NO CARDS FOUND
    </div> -->
</div>
