<div class="header-container">
    <a href="/">
    <img src="../../../assets/images/bewnonyd.png" alt="logo"></a>
  </div>
  
  <div class="banner">
  
    <div class="banner-head">
        ManageMyTasks 
    </div>
    <img class="banner-logo" src="../../../assets/images/studying.png" alt="banner">
    <div class="banner-desc">
        Elevate productivity with our intuitive task manager.
        <br><br>
        <span class="detail-desc">Streamline task management, set reminders, and collaborate seamlessly. Simplify your daily routine and stay focused on what matters most.    
        </span>
    </div>
    <a routerLink="/add-task" class="banner-button">Add Task</a> 
   </div>
  